<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0dRi_S8dAHVfsWdm73RkFoU-At0M5mLE</string>
	<key>GCM_SENDER_ID</key>
	<string>436973770296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.routefinder.app</string>
	<key>PROJECT_ID</key>
	<string>locaview-7212f</string>
	<key>STORAGE_BUCKET</key>
	<string>locaview-7212f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436973770296:ios:bc950f86914ac1683fb8cd</string>
</dict>
</plist>